<template>
    <div>
        <form>
            <div class="modal-body">
                <div v-show="error" class="alert alert-danger">
                    <ul>
                        <li v-for="(error,index) in error_message" v-bind:key="index"> {{error}}</li>
                    </ul>
                </div>

                <loading :active.sync="isLoading"
                    background-color="#000"
                    color="#ff002b"
                    transition="fade"
                    :can-cancel="true"
                    :is-full-page="true">
                </loading>


                <div class="row form-group">
                    <div class="col-3">
                        <label for="">Account Type</label>
                    </div>
                    <div class="col-9">
                        <v-select
                            @input="checkAccountCategories(account_type_id)"
                            :options='account_types'
                            v-model="account_type_id"
                            label='name'
                            :reduce='name => name.id'>
                        </v-select>
                    </div>
                </div>

                <div v-if="account_categories.length > 0" class="row form-group">
                    <div class="col-3">
                        <label for="">Account category</label>
                    </div>
                    <div class="col-9">
                        <v-select
                            :options='account_categories'
                            v-model="account_category_id"
                            label='name'
                            :reduce='name => name.id'>
                        </v-select>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-3">
                        <label for="">Account Name</label>
                    </div>
                    <div class="col-9">
                        <input type="text" v-model="name" class="form-control">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-3">
                        <label for="">Account Code</label>
                    </div>
                    <div class="col-9">
                        <input type="text" v-model="code" class="form-control">
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-dark waves-effect " data-dismiss="modal">Close</button>
                <button class="btn btn-success waves-effect" @click.prevent="validateData">  Add Account</button>
            </div>
        </form>
    </div>
</template>

<script>

import vSelect from 'vue-select' 
import 'vue-loading-overlay/dist/vue-loading.css';
import Loading from 'vue-loading-overlay';
Vue.component('v-select', vSelect)
import 'vue-select/dist/vue-select.css';

export default {
    data(){
        return {
            isLoading: true,
            account_types: [],
            account_categories: [],
            name: null,
            code: null,
            account_type_id: null,
            account_category_id: null,
            //
            error:false,
            error_message:[],
        }
    },

    components: {
        Loading
    },

    methods: {
        getAccountsData(){
            axios.get(`/get-accounts-data`).then(({data}) => data).then(({data}) => {      
                this.account_types = data.account_types
                this.isLoading = false
            });
        },

        checkAccountCategories(id){
            axios.get(`/get-account-categories/${id}`).then(({data}) => data).then(({data}) => {      
                this.account_categories = data.account_categories
                this.account_category_id = null
            });
        },

        validateData(){

            if(this.account_type_id == null){
                this.error = true;
                this.error_message.push('You must provide account type.');
                return;
            }else{
                this.error_message = []
            }
            
            if(this.account_categories.length > 0 && this.account_category_id == null){
                this.error = true;
                this.error_message.push('You must provide account type category.');
                return;
            }

            if(this.name == null){
                this.error = true;
                this.error_message.push('You must provide account name.');
                return;
            }

            if(this.code == null){
                this.error = true;
                this.error_message.push('You must provide account code.');
                return;
            }

            if (this.error_message.length < 1 ) {
                this.error = false
                this.createAccount()
            }
        },

        createAccount(){
            this.isLoading = true
            let account = {}

            account['account_category_id'] = this.account_category_id
            account['account_type_id'] = this.account_type_id
            account['name'] = this.name
            account['code'] = this.code

            axios.post('/chart-of-accounts', account).then(({data})=>data).then(({data})=>{
                if(data == 'success'){
                    
                    this.isLoading = false;
					
					toastr.options.showMethod = 'slideDown';
					toastr.options.hideMethod = 'slideUp';
					toastr.options.closeMethod = 'slideUp';
					toastr.options.closeButton = true;
					toastr.options.closeDuration = 10000;
					toastr.options.closeEasing = 'swing';
					toastr.options.progressBar = true;
					toastr.success('You have successfully added an account .', 'Success')

                    window.location.reload()
                }
            });

        }
    },

    created(){
        this.getAccountsData()
    }
}
</script>

<style>

</style>