
<script>
import vSelect from 'vue-select'    
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
    
Vue.component('v-select', vSelect)
import 'vue-select/dist/vue-select.css';
 
export default {
    props: ['lpo'],
    data(){
        return {
            isLoading: true,
            products: [],
            lpo_products: [
                {
                    index:1,
                    'id': null,
                    'quantity': null,
                    'price': null
                }
            ],
            error:false,
            errors: [],
            error_message:[],
            products_rows: 1,
        }
    },
    components: {
        Loading
    },
    methods: {
        getData() {
            var id = this.lpo
            axios.get(`/get-lpo-data/${id}`).then(({data}) => data).then(({data}) => {
                this.products = data.products
                this.isLoading = false
            });
        },

        addProductRow() {
            this.products_rows++
            this.lpo_products.push({
                index: this.products_rows,
                'id': null,
                'quantity': null,
                'price': null,
            })

        },
        removeProductRow(id) {
            return this.lpo_products = this.lpo_products.filter((item, index) => {
                return item.index != id
            })
        },
        prepareData(){
            this.error_message = []

            const productIds = this.lpo_products.map(lpoproduct => lpoproduct.id);

            this.lpo_products.map((lpo_products)=>{
                if(lpo_products.id == null || lpo_products.id =="")  {
                    this.error = true;
                    this.error_message.push('Select product(s) in all rows.');
                    return;
                }else if(lpo_products.quantity == null || lpo_products.quantity ==""){
                    this.error = true;
                    this.error_message.push('Please provide quantity in all field(s).');
                    return;
                }else if(lpo_products.price == null || lpo_products.price ==""){
                    this.error = true;
                    this.error_message.push('Please provide price in all field(s).');
                    return;
                }
            });
            
            if(this.checkIfProductsAreUnique(productIds)){
                this.error = true;
                this.error_message.push('You have at least two products matching, check and correct to continue.');
                return;
            }

            if (!this.error_message.length ) {
                this.error = false
                this.generateLpoData()
            }

        },
        checkIfProductsAreUnique: function(arr){
            return (new Set(arr)).size !== arr.length;
        },
        generateLpoData() {

            this.isLoading = true;

            let items = {}

            items['items'] = this.lpo_products
            items['lpo'] = this.lpo
            
            axios.post('/add-lpo-items', items).then(({data})=>data).then(({data})=>{
                if(data == 'success'){
                    
                    this.isLoading = false;
					
					toastr.options.showMethod = 'slideDown';
					toastr.options.hideMethod = 'slideUp';
					toastr.options.closeMethod = 'slideUp';
					toastr.options.closeButton = true;
					toastr.options.closeDuration = 10000;
					toastr.options.closeEasing = 'swing';
					toastr.options.progressBar = true;
					toastr.success('You have successfully added LPO items .', 'Success')

                    window.location.reload()
                }
            });

        }
    },
    created(){
        this.getData()
    }
}
</script>

<template>
  <div>
        <form>
           <div v-show="error" class="alert alert-danger">
                <ul>
                    <li v-for="(error,index) in error_message" v-bind:key="index"> {{error}}</li>
                </ul>
            </div>
            <loading :active.sync="isLoading"
                background-color="#000"
                color="#ff002b"
                transition="fade"
                :can-cancel="true"
                :is-full-page="true">
            </loading>
             <div class="row form-group col-12">
                <table class="table table-condensed table-bordered table-bordered-light">
                    <thead>
                        <th>Select Product(s)</th>
                        <th>Quantity</th>
                        <th>Price </th>
                        <th>Line Total</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        <tr v-for="lpoproducts in lpo_products" v-bind:key="lpoproducts.index">
                            <td width="35%">
                                <v-select
                                    :options='products'
                                    v-model="lpoproducts.id"
                                    label='name'
                                    :reduce='name => name.id'>
                                </v-select>
                            </td>
                            <td width="15%"><input type="number" min="1" class="form-control" v-model="lpoproducts.quantity" on:mo></td>
                            <td width="15%"><input type="number" min="1" class="form-control" v-model="lpoproducts.price" @keyup.enter.prevent="addProductRow"></td>
                            <td width="20%">
                                <input class="form-control"  :value="lpoproducts.price * lpoproducts.quantity" readonly>
                            </td>
                            <td>
                                <span style="cursor:pointer; font-size:15px" class="text-success" @click.prevent="addProductRow"><i class="fa fa-plus-circle"></i>Add</span> &nbsp;
                                <span style="cursor:pointer; font-size:15px" class="text-danger" @click="removeProductRow(lpoproducts.index)"><i class="fa fa-trash"></i> Delete</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-12">                  
                <button class="btn width-sm btn-success" style="border-radius:0px;"  @click.prevent="prepareData"><i class="fa fa-save"></i> Add LPO Items</button>
            </div>
        </form>
  </div>
</template>

<style>

</style>