<template>
     <div>
        <form>

            <div class="modal-body">
                <div v-show="error" class="alert alert-danger">
                    <ul>
                        <li v-for="(error,index) in error_message" v-bind:key="index"> {{error}}</li>
                    </ul>
                </div>
                <loading :active.sync="isLoading"
                    background-color="#000"
                    color="#ff002b"
                    transition="fade"
                    :can-cancel="true"
                    :is-full-page="true">
                </loading>

                <div class="row form-group">
                    <div class="col-3">
                    <label>Select Groups</label>
                </div>
                <div class="col-9">
                    <multiselect
                        v-model="groups_id"
                        :options="groups"
                        :multiple="true"
                        :taggable="true"
                        :close-on-select="true"
                        placeholder="Pick some groups"
                        label="name"
                        :limit="5"
                        trackBy='id'>                                        
                    </multiselect>
                </div>

                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-dark waves-effect " data-dismiss="modal">Close</button>
                <button class="btn btn-success waves-effect" @click.prevent="validateData">  Add Groups</button>
            </div>

        </form>
    </div>
</template>

<script>

import 'vue-loading-overlay/dist/vue-loading.css';
import Loading from 'vue-loading-overlay';
import Multiselect from 'vue-multiselect'

export default {
    props: ['schedule_id'],
    data(){
        return {
            isLoading: true,
            groups: [],
            groups_id: [],
            //
            error:false,
            error_message:[],
        }
    },

    components: {
        Loading, Multiselect
    },

    methods: {
        getContactsData() {
            axios.get(`/get-message-schedule-groups/${this.schedule_id}`).then(({data}) => data).then(({data}) => {      
                this.groups = data.groups
                this.isLoading = false
            });
        },
        
        validateData(){
            if(!this.groups_id.length ){
                this.error = true;
                this.error_message.push('You must pick at least one group.')
                return ;
            }

            if(!this.error_message.length){
                this.error = false
                this.addContacts()
            }
        },

        addContacts(){
            this.isLoading = true

            let groups = {}

            groups['groups'] = this.groups_id
            groups['schedule_id'] = this.schedule_id

            axios.post('/add-groups-to-schedule', groups).then(({data}) => data).then(({data}) => {
                if(data == 'success'){
                    this.isLoading = false
                    
                    toastr.options.showMethod = 'slideDown';
                    toastr.options.hideMethod = 'slideUp';
                    toastr.options.closeMethod = 'slideUp';
                    toastr.options.closeButton = true;
                    toastr.options.closeDuration = 10000;
                    toastr.options.closeEasing = 'swing';
                    toastr.options.progressBar = true;
                    toastr.success('You have successfully added groups to message schedule', 'Success')
                    
                    window.location.reload()
                    
                }
            })
        }
    }, 

    created(){
        this.getContactsData()
    }

}
</script>

<style>

</style>