
<script>
import moment from 'moment';
import draggable from 'vuedraggable'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

Vue.filter('formatDate', function(value) {
  if (value) {
    return moment(String(value)).format('DD-MM-Y H:mm A')
  }
});

export default {
	props: ['lpo'],
	data(){
		return {			
			isLoading: true,
			hasSignature: null,
			status: null,
			user: null,
			originator: null,
			finalApprover: null,
			approval: null,
			comment: null,
			statusLogs: [],
            error:false,
            errors: [],
            error_message:[],
		}
	},
	components: {
		Loading
	},
	methods: {
		getStatusLogs(){
			var id = this.lpo
            axios.get(`/get-lpo-status-logs/${id}`).then(({data}) => data).then(({data}) => {
                this.statusLogs = data.statusLogs
                this.status = data.status
				this.user = data.approver
				this.hasSignature = data.hasSignature
                this.finalApprover = data.next
				this.originator = data.originator
                this.isLoading = false
			})
		},
		prepareData(){
			this.error_message = []
			
			if(!this.approval){
				this.error = true
				this.error_message.push('You must select one option/action to proceed with approval.')
				return ;
			}

			if(this.approval != 4 && !this.comment){
				this.error = true
				this.error_message.push('You must provide a reason for not approving this request.')
				return ;
			}

			if(!this.error_message.length){
				this.error = false
				this.approveLPO()
			}
		},
		approveLPO(){			
			this.isLoading = true;

			let approvalStatus = {}
			approvalStatus['approval'] = this.approval
			approvalStatus['comment'] = this.comment
			approvalStatus['lpo'] = this.lpo

			 axios.post('/approve-lpo', approvalStatus).then(({data})=>data).then(({data})=>{
                if(data == 'success'){
					this.getStatusLogs()

					this.isLoading = false;
					
					toastr.options.showMethod = 'slideDown';
					toastr.options.hideMethod = 'slideUp';
					toastr.options.closeMethod = 'slideUp';
					toastr.options.closeButton = true;
					toastr.options.closeDuration = 5000;
					toastr.options.closeEasing = 'swing';
					toastr.options.progressBar = true;
					toastr.success('The action have completed successfully.', 'Success')
					
					window.location.reload()

				}
			});
		},
		cancelApprovalRequest() {
			this.isLoading = true

			var id = this.lpo

			axios.post(`/cancel-lpo-approval-request/${id}`).then(({data}) => data).then(({data}) => {
				if(data == 'success'){
					this.getStatusLogs()

					this.isLoading = false;
					
					toastr.options.showMethod = 'slideDown';
					toastr.options.hideMethod = 'slideUp';
					toastr.options.closeMethod = 'slideUp';
					toastr.options.closeButton = true;
					toastr.options.closeDuration = 10000;
					toastr.options.closeEasing = 'swing';
					toastr.options.progressBar = true;
					toastr.success('You have successfully canceled LPO approval request.', 'Success')

					window.location.reload()

				}
			})
		},
		sendApprovalRequest() {
			this.isLoading = true

			var id = this.lpo

			axios.post(`/send-lpo-approval-request/${id}`).then(({data}) => data).then(({data}) => {
				if(data == 'success'){
					this.getStatusLogs()

					this.isLoading = false;
					
					toastr.options.showMethod = 'slideDown';
					toastr.options.hideMethod = 'slideUp';
					toastr.options.closeMethod = 'slideUp';
					toastr.options.closeButton = true;
					toastr.options.closeDuration = 10000;
					toastr.options.closeEasing = 'swing';
					toastr.options.progressBar = true;
					toastr.success('You have successfully canceled LPO approval request.', 'Success')

					window.location.reload()
				}
			})
		}
	},
	created(){
		this.getStatusLogs()
	}
}
</script>

<template>
	<div>
		<loading :active.sync="isLoading"
            background-color="#000"
            color="#ff002b"
            transition="fade"
            :can-cancel="true"
            :is-full-page="true">
        </loading>

		<div v-show="error" class="alert alert-danger">
			<ul>
				<li v-for="(error,index) in error_message" v-bind:key="index"> {{error}}</li>
			</ul>
		</div>

		<div v-if="this.originator === 1 && this.status === 1">
			<button style="margin-bottom:10px;border-radius:0px" @click.prevent="cancelApprovalRequest" class="btn btn-sm btn-orange">
				<i class="mdi mdi-cancel"></i>
				Cancel Approval Request
			</button>
		</div>

		<div v-if="this.originator === 1 && this.status === 2">
			<button style="margin-bottom:10px;border-radius:0px" @click.prevent="sendApprovalRequest" class="btn btn-sm btn-success">
				<i class="mdi mdi-send-circle"></i>
				Send Approval Request
			</button>
		</div>
		<template v-if="this.hasSignature == 1">
			<div v-if="this.user === 1 && this.status === 1" style="background: #e7e1e1da">    
				<form class="offset-md-2">
					<div class="row form-group">                                                                 
						<label class="col-3">
							<input type="radio" class="option-input radio" v-model="approval" value="4"/>
							<span style="color:green">Approve Request</span>
						</label>
						<label class="col-3">
							<input type="radio" class="option-input-cancel radio" v-model="approval" value="3"/>
							<span style="color:#ff5e00">Cancel Request</span>
						</label>
						<label class="col-3">
							<input type="radio" class="option-input-reject radio" v-model="approval" value="2"/>
							<span style="color:red">Reject Request</span>
						</label>
					</div>
					<div class="row form-group"> 
						<div class="col-9">
							<textarea rows="2" class="form-control" v-model="comment" placeholder="Reason for Canceling/Rejecting"></textarea>
						</div>
					</div>

					<div class="row form-group offset-md-3"> 
						<div class="col-6">
							<button style="margin-top:10px"  @click.prevent="prepareData" class="btn width-sm btn-primary">							 
								<div v-if="this.finalApprover === 0">
									<i class="mdi mdi-send-circle"></i> Send for further approval
								</div>
								<div v-else>
									<i class="mdi mdi-send-circle"></i> Approve LPO
								</div>
							</button>
						</div>
					</div>
				</form> 
			</div>
		</template>
		<template v-else>
			<p>
				<i class="fa fa-info-circle text-info"></i> 
				You must upload you signature before proceeding with creation of an LPO.
				Navigate to <span class="mdi mdi-settings text-info"> Settings</span> -> <span class="text-success">My account</span> to update.
			</p>
		</template>
		

		<table class="table table-striped table-condensed table-bordered">
			<thead>
				<th>Approver</th>
				<th>Sequence</th>
				<th>Status</th>
				<th>Description</th>
				<th>Comment</th>
				<th>Date Created</th>
			</thead>
			<tbody>
				<tr v-for="(statusLog, index) in statusLogs" :key="index">
					<td>
						{{ statusLog.approver.user.first_name }} {{ statusLog.approver.user.last_name  }}
					</td>
					<td>{{ statusLog.approver.sequence }}</td>
					<td>{{ statusLog.status.name }}</td>
					<td>{{ statusLog.description }}</td>
					<td>
						<div v-if="statusLog.comment === null">
							<code>No comment</code>
						</div>
						<div v-else>
							{{ statusLog.comment }}
						</div>
					</td>
					<td>{{ statusLog.created_at | formatDate }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>


<style>

</style>