<script>

import 'vue-loading-overlay/dist/vue-loading.css';
import ToggleButton from 'vue-js-toggle-button'
import Loading from 'vue-loading-overlay';
import Multiselect from 'vue-multiselect'

Vue.use(ToggleButton)
export default {
    data(){
        return {
            isLoading: true,
            name: null,
            description: null,
            favourite: false,
            contacts: [],
            contact_id: [],
            error:false,
            errors: [],
            error_message:[],
        }
    },
    components: {
        Loading, Multiselect
    },
    methods: {
        getContacts() {
            axios.get('/get-group-contacts').then(({data}) => data).then(({data}) => {      
                this.contacts = data.contacts
                this.isLoading = false
            });
        },

        prepareData(){
            this.error_message = []
            
            if(this.name == "" || this.name == null){
                this.error = true;
                this.error_message.push('Please provide group name');
                return;
            }
            if(this.description == "" || this.description == null){
                this.error = true;
                this.error_message.push('Please provide group description');
                return;
            }

            if (!this.error_message.length ) {
				this.error = false
				this.addGroup()
			}
        },

        addGroup(){
            this.isLoading = true


            let group = {}

            group['name'] = this.name
            group['description'] = this.description
            group['favourite'] = this.favourite
            group['contacts'] = this.contact_id

            axios.post('/groups', group).then(({data}) => data).then(({data}) => {
                if(data == 'success'){
					this.isLoading = false;
					
					toastr.options.showMethod = 'slideDown';
					toastr.options.hideMethod = 'slideUp';
					toastr.options.closeMethod = 'slideUp';
					toastr.options.closeButton = true;
					toastr.options.closeDuration = 10000;
					toastr.options.closeEasing = 'swing';
					toastr.options.progressBar = true;
					toastr.success('You have updated group details successfully, all looks good!', 'Success')
                    
                    window.location.reload()
                }
            });

        }
    },
    created() {
        this.getContacts()
    }
}
</script>

<template>
    <div>
        <form>
            <div class="modal-body"> 
                <div v-show="error" class="alert alert-danger">
                    <ul>
                        <li v-for="(error,index) in error_message" v-bind:key="index"> {{error}}</li>
                    </ul>
                </div>
                <loading :active.sync="isLoading"
                    background-color="#000"
                    color="#ff002b"
                    transition="fade"
                    :can-cancel="true"
                    :is-full-page="true">
                </loading>

                <div class="row form-group">
                    <div class="col-4">
                        <label for="">Group Name</label>
                    </div>
                    <div class="col-8">
                        <input type="text" v-model="name" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-4">
                        <label for="">Favourite</label>
                    </div>
                    <div class="col-8">
                        <toggle-button 
                            v-model="favourite"
                            :margin='5'
                            :height='30'
                            :width='60'
                            :labels="{checked: 'Yes', unchecked: 'No'}"/>   
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-4">
                        <label for="">Description</label>
                    </div>
                    <div class="col-8">
                        <textarea v-model="description" rows="3" class="form-control"></textarea>
                    </div>
                </div>

                <hr>
                <div class="row form-group">
                    <div class="col-4">
                        <label for="">Add Contacts</label>
                    </div>
                    <div class="col-8">
                        <multiselect
                            v-model="contact_id"
                            :options="contacts"
                            :multiple="true"
                            :close-on-select="true"
                            placeholder="Pick some contacts"
                            label="name"
                            :limit="3"
                            track-by="id">                                        
                        </multiselect>
                    </div>
                </div>  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" @click.prevent="prepareData">Create Group</button>
            </div>
        </form>
    </div>
</template>

<style>

</style>