<template>
    <div>
        <form>
            <div v-show="error" class="alert alert-danger">
                <ul>
                    <li v-for="(error,index) in error_message" v-bind:key="index"> {{error}}</li>
                </ul>
            </div>
            <loading :active.sync="isLoading"
                background-color="#000"
                color="#ff002b"
                transition="fade"
                :can-cancel="true"
                :is-full-page="true">
            </loading>

            <div class="row form-group">
                <div class="col-12">
                    <p>
                        <i class="mdi mdi-check-circle text-success"></i>
                        For contacts, you can add phone numbers in the input box directly.
                    </p>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-2">
                    <label>Schedule Name</label>
                </div>
                <div class="col-4">
                    <input type="text" v-model="name" class="form-control">
                </div>

                <div class="col-2">
                    <label for="">Frequency</label>
                </div>
                <div class="col-4">
                    <v-select
                        :options='frequencies'
                        v-model="frequency_id"
                        label='name'
                        :reduce='name => name.id'>
                    </v-select>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-2">
                    <label for="">Day</label>
                </div>
                <div class="col-4">
                    <v-select
                        :options='frequencyDays'
                        v-model="frequency_day_id"
                        label='name'
                        :reduce='name => name.id'>
                    </v-select>
                </div>

                <div class="col-2">
                    <label for="">Time</label>
                </div>
                <div class="col-4">
                    <VueCtkDateTimePicker 
                        label='Select time' 
                        v-model="message_time"
                        :minDate='formattedDate'
                        :only-time="true" 
                        :no-label='true' 
                        format='hh:mm a'
                        formatted='hh:mm a'
                        color='#d91a1a'
                        minute-interval='5'	 />
                </div>
            </div>

            <div class="row form-group">
                <div class="col-2">
                    <label>Select Contacts</label>
                </div>
                <div class="col-4">
                    <multiselect
                        v-model="contacts_id"
                        :options="contacts"
                        :multiple="true"
                        :taggable="true"
                        :close-on-select="true"
                        placeholder="Pick some contacts"
                        label="name"
                        :limit="3"
                        trackBy='id'>                                        
                    </multiselect>
                </div>

                 <div class="col-2">
                    <label>Select Groups</label>
                </div>
                <div class="col-4">
                    <multiselect
                        v-model="groups_id"
                        :options="groups"
                        :multiple="true"
                        :close-on-select="true"
                        placeholder="Pick some groups"
                        label="name"
                        :limit="3"
                        trackBy='id'>                                        
                    </multiselect>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-2">
                    <label>Phone Numbers</label>
                </div>
                <div class="col-10">
                    <input type="text" class="form-control" v-model="phone_numbers" placeholder="Comma separated" >
                </div>
            </div>
            
            <div class="row form-group">
                <div class="row col-12">                    
                    <div class="col-2">Message Characters:</div>
                    <div class="col-2">{{ message_chars }}</div>
                </div>
                <div class="row col-12">     
                    <div class="col-2">Messages Composed:</div>
                    <div class="col-2">{{ messages_composed }}</div>
                </div>
                <div class="row col-12">
                    <div class="col-2">Characters Left:</div>
                    <div class="col-2">{{ message_remaining_chars }} of message {{ messages_composed }}</div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-12">
                    <textarea v-model="message" rows="4" class="form-control"></textarea>
                </div>
            </div>

            
            <div class="row form-group">
                <div class="col-12">
                    <button class="btn btn-success width-xs btn-rounded" @click.prevent="validateData"><i class="mdi mdi-send"></i> Schedule Message</button>
                </div>
            </div>

        </form>
    </div>
</template>

<script>
import moment from 'moment';
import vSelect from 'vue-select'
import 'vue-loading-overlay/dist/vue-loading.css';
import Loading from 'vue-loading-overlay';
import Multiselect from 'vue-multiselect'
import VueCtkDateTimePicker from 'vue-ctk-date-time-picker';
import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css';

Vue.component('v-select', vSelect)
import 'vue-select/dist/vue-select.css';
Vue.component('VueCtkDateTimePicker', VueCtkDateTimePicker);
export default {
    data(){
        return {
            isLoading: true,
            //
            message_chars: 0,
            message_limit: 145,
            message_remaining_chars: 0,
            messages_composed: 0,
            //fillables
            name: null,
            frequency_id: null,
            frequency_day_id: null,
            message: null,
            message_time: null,
            phone_numbers: null,
            contacts_id: [],
            groups_id: [],
            //data
            frequencyDays: [],
            frequencies: [],
            contacts: [],
            groups: [],
            //
            error:false,
            error_message:[],
        }
    },

    components: {
        Loading, Multiselect, VueCtkDateTimePicker
    },
    
    watch: {
        message: function(val){
            this.message_chars = val.length

           
            if(this.message_chars === 0){
                this.messages_composed = 0
            }else{
                var messages = this.message_chars / this.message_limit
                if(messages < 1){
                    this.messages_composed = 1
                }else{
                    this.messages_composed = Math.ceil(this.message_chars / this.message_limit)
                }
            }
            
            this.message_remaining_chars = (this.messages_composed * this.message_limit) - (this.message_chars)

        }
    },

    computed: {
        formattedDate() {
            return moment().format('hh:mm a');
        }
    },

    methods: {
        getMessageScheduleData() {
            axios.get('/get-message-schedule-data').then(({data}) => data).then(({data}) => {      
                this.contacts = data.contacts
                this.groups = data.groups
                this.frequencies = data.frequencies
                this.frequencyDays = data.frequencyDays
                this.isLoading = false
            });
        },
        
        validateData(){
            if(!this.name){
                this.error = true
                this.error_message.push('You must provide message schedule name')
                return ;
            }

            if(!this.frequency_id){
                this.error = true
                this.error_message.push('You must provide message schedule frequency')
                return ;
            }
            
            if(!this.frequency_day_id){
                this.error = true
                this.error_message.push('You must provide message schedule day')
                return ;
            }
            if(!this.message_time){
                this.error = true
                this.error_message.push('You must provide message schedule time')
                return ;
            }

            if(!this.contacts_id.length && !this.groups_id.length && this.phone_numbers == null){
                this.error = true;
                this.error_message.push('You must provide contact(s) or group(s)')
                return ;
            }
           
            if(!this.message){
                this.error = true;
                this.error_message.push('You must provide a message to be sent')
                return ;
            }

            if(!this.error_message.length){
                this.error = false
                this.scheduleMessage()
            }
        },

        scheduleMessage(){
            let messageSchedule = {}

            messageSchedule['name'] = this.name
            messageSchedule['task_frequency_id'] = this.frequency_id
            messageSchedule['task_frequency_day_id'] = this.frequency_day_id
            messageSchedule['message'] = this.message
            messageSchedule['message_time'] = this.message_time
            messageSchedule['contacts'] = this.contacts_id
            messageSchedule['groups'] = this.groups_id
            messageSchedule['phone_numbers'] = this.phone_numbers

             axios.post('/schedule-messages', messageSchedule).then(({data}) => data).then(({data}) => {
                if(data == 'success'){
                    this.isLoading = false
                    
                    toastr.options.showMethod = 'slideDown';
                    toastr.options.hideMethod = 'slideUp';
                    toastr.options.closeMethod = 'slideUp';
                    toastr.options.closeButton = true;
                    toastr.options.closeDuration = 10000;
                    toastr.options.closeEasing = 'swing';
                    toastr.options.progressBar = true;
                    toastr.success('You have successfully scheduled the message', 'Success')

                    window.location.reload()
                    
                }else if(data == 'error'){
                    this.isLoading = false
                    
                    toastr.options.showMethod = 'slideDown';
                    toastr.options.hideMethod = 'slideUp';
                    toastr.options.closeMethod = 'slideUp';
                    toastr.options.closeButton = true;
                    toastr.options.closeDuration = 10000;
                    toastr.options.closeEasing = 'swing';
                    toastr.options.progressBar = true;

                    toastr.warning('Your have errors in your form, double check phone numbers provided', 'Warning')
                }
            })

        }
    },

    created(){
        this.getMessageScheduleData()
    }
}
</script>

<style>

</style>