<script>
import vSelect from 'vue-select'    
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
    
Vue.component('v-select', vSelect)
import 'vue-select/dist/vue-select.css';
 
export default {
    data(){
        return {
            isLoading: false,
            products: [],
            srnproducts: [
                {
                    index:1,
                    'id': null,
                    'quantity': null,
                    'available': null,
                    'available_super': null,
                }
            ],
            error:false,
            errors: [],
            error_message:[],
            products_rows: 1,
        }
    },
    components: {
        Loading
    },
    methods: {
        getData() {
            axios.get('/create-srn-data').then(({data}) => data).then(({data}) => {
                this.products = data.products
            });
        },

        addProductRow() {
            this.products_rows++
            this.srnproducts.push({
                index: this.products_rows,
                'id': null,
                'quantity': null,
                'available': null,
                'available_super': null,
            })
        },
        removeProductRow(id) {
            return this.srnproducts = this.srnproducts.filter((item, index) => {
                return item.index != id
            })
        },
        AvailableQuantity: function(value, index) {
            // this.available = value
            let myArray = this.srnproducts
            let objIndex = myArray.findIndex((obj => obj.index == index));

            axios.get(`/get-available-products/${value}`).then(({data}) => data).then(({data}) => {
                myArray[objIndex].available = data.available
                myArray[objIndex].available_super = data.available_super
            });
        },
        checkIfProductsAreUnique: function(arr){
            return (new Set(arr)).size !== arr.length;
        },
        prepareData(){
            this.error_message = []

            const productIds = this.srnproducts.map(lpoproduct => lpoproduct.id);

            this.srnproducts.map((srnproducts)=>{
                if(srnproducts.id == null || srnproducts.id =="")  {
                    this.error = true;
                    this.error_message.push('Select product(s) in all rows.');
                    return;
                }else if(srnproducts.quantity == null || srnproducts.quantity ==""){
                    this.error = true;
                    this.error_message.push('Please provide quantity in all field(s).');
                    return;
                }else if(srnproducts.quantity >  srnproducts.available){
                    this.error = true;
                    this.error_message.push('You have requested more quantity that what is available in store, correct to continue');
                    return;
                }
            });
            
            if(this.checkIfProductsAreUnique(productIds)){
                this.error = true;
                this.error_message.push('You have at least two products matching, check and correct to continue.');
                return;
            }

            if (!this.error_message.length ) {
                this.error = false
                this.createSrn()
            }

        },
        createSrn() {

            this.isLoading = true

            let srn = {}

            srn['srn_products'] = this.srnproducts
            
            axios.post('/store-requisition-notes', srn).then(({data})=>data).then(({data})=>{
                if(data == 'success'){
                    this.isLoading = false
                    
                    toastr.options.showMethod = 'slideDown';
                    toastr.options.hideMethod = 'slideUp';
                    toastr.options.closeMethod = 'slideUp';
                    toastr.options.closeButton = true;
                    toastr.options.closeDuration = 10000;
                    toastr.options.closeEasing = 'swing';
                    toastr.options.progressBar = true;
                    toastr.success('Store requisition note have been sent for approval', 'Success')
                
                    window.location='/store-requisition-notes';
                }
            });

        }
    },
    created(){
        this.getData()
    }
}
</script>

<template>
    <div>
        <form>
           <div v-show="error" class="alert alert-danger">
                <ul>
                    <li v-for="(error,index) in error_message" v-bind:key="index"> {{error}}</li>
                </ul>
            </div>
            <loading :active.sync="isLoading"
                background-color="#000"
                color="#ff002b"
                transition="fade"
                :can-cancel="true"
                :is-full-page="true"></loading>
            
            
            <div class="row">
               
                <div class="col-12">
                    <h6>Products</h6>
                    <table class="table table-condensed table-bordered table-bordered-light">
                        <thead>
                            <th>Select Product(s)</th>
                            <th>Request Quantity</th>
                            <th>Available <small>(Supermarket)</small></th>
                            <th>Available <small>(Store)</small></th>
                            <th>Actions</th>
                        </thead>
                        <tbody>
                            <tr v-for="srnproduct in srnproducts" v-bind:key="srnproduct.index">
                                <td width="35%">
                                    <v-select
                                        v-on:input="AvailableQuantity(srnproduct.id, srnproduct.index)"
                                        :options='products'
                                        v-model="srnproduct.id"
                                        label='name'
                                        :reduce='name => name.id'>
                                    </v-select>
                                </td>
                                <td width="15%"><input type="number" min="1" class="form-control" v-model="srnproduct.quantity"></td>
                                <td width="15%">
                                    <input type="text" class="form-control" v-model="srnproduct.available_super" readonly style="color:red">
                                </td><td width="15%">
                                    <input type="text" class="form-control" v-model="srnproduct.available" readonly style="color:green">
                                </td>
                                <td>
                                    <span style="cursor:pointer; font-size:15px" class="text-success" @click.prevent="addProductRow"><i class="fa fa-plus-circle"></i>Add Row</span> &nbsp;
                                    <span style="cursor:pointer; font-size:15px" class="text-danger" @click="removeProductRow(srnproduct.index)"><i class="fa fa-trash"></i> Delete Row</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">                    
                    <button class="btn width-xs btn-success"  @click.prevent="prepareData"><i class="mdi mdi-send-circle"></i> Send For Approval</button>
                </div>
            </div>
        </form>
    </div>
</template>