<script>
import vSelect from 'vue-select'    
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
    
Vue.component('v-select', vSelect)
import 'vue-select/dist/vue-select.css';
 
export default {
    data(){
        return {
            isLoading: true,
            hasSignature: null,
            suppliers: [],
            products: [],
            statuses: [],
            supplier_id: null,
            status_id: null,
            lpo_products: [
                {
                    index:1,
                    'id': null,
                    'quantity': null,
                    'price': null
                }
            ],
            error:false,
            errors: [],
            error_message:[],
            supplier_rows: 1,
            products_rows: 1,
        }
    },
    components: {
        Loading
    },
    methods: {
        getData() {
            axios.get('/create-lpo-data').then(({data}) => data).then(({data}) => {
                this.suppliers = data.suppliers
                this.products = data.products
                this.statuses = data.statuses
                this.hasSignature = data.hasSignature
                this.isLoading = false
            });
        },

        addProductRow() {
            this.products_rows++
            this.lpo_products.push({
                index: this.products_rows,
                'id': null,
                'quantity': null,
                'price': null,
            })

        },
        removeProductRow(id) {
            return this.lpo_products = this.lpo_products.filter((item, index) => {
                return item.index != id
            })
        },
        prepareData(){
            this.error_message = []

            const productIds = this.lpo_products.map(lpoproduct => lpoproduct.id);

        

            if(this.supplier_id == null) {
                this.error = true;
                this.error_message.push('Please select supplier from the list.');
                return;
            }

            if(this.status_id == null) {
                this.error = true;
                this.error_message.push('Please select lpo status from the list.');
                return;
            }

            this.lpo_products.map((lpo_products)=>{
                if(lpo_products.id == null || lpo_products.id =="")  {
                    this.error = true;
                    this.error_message.push('Select product(s) in all rows.');
                    return;
                }else if(lpo_products.quantity == null || lpo_products.quantity ==""){
                    this.error = true;
                    this.error_message.push('Please provide quantity in all field(s).');
                    return;
                }else if(lpo_products.price == null || lpo_products.price ==""){
                    this.error = true;
                    this.error_message.push('Please provide price in all field(s).');
                    return;
                }
            });
            
            if(this.checkIfProductsAreUnique(productIds)){
                this.error = true;
                this.error_message.push('You have at least two products matching, check and correct to continue.');
                return;
            }

            if (!this.error_message.length ) {
                this.error = false
                this.generateLpoData()
            }

        },
        checkIfProductsAreUnique: function(arr){
            return (new Set(arr)).size !== arr.length;
        },
        generateLpoData() {

            this.isLoading = true;

            let lpo = {}

            lpo['supplier_id'] = this.supplier_id
            lpo['status_id'] = this.status_id
            lpo['lpo_products'] = this.lpo_products
            
            axios.post('/local-purchase-orders', lpo).then(({data})=>data).then(({data})=>{
                if(data == 'success'){
                    window.location='/local-purchase-orders';
                }
            });

        }
    },
    created(){
        this.getData()
    }
}
</script>

<template>
    <div>
        <form>
           <div v-show="error" class="alert alert-danger">
                <ul>
                    <li v-for="(error,index) in error_message" v-bind:key="index"> {{error}}</li>
                </ul>
            </div>
            <loading :active.sync="isLoading"
                background-color="#000"
                color="#ff002b"
                transition="fade"
                :can-cancel="false"
                :is-full-page="true"></loading>
            
            <div v-if="this.hasSignature == 0">
                <p>
                    <i class="fa fa-info-circle text-info"></i> 
                    You must upload you signature before proceeding with creation of an LPO.
                    Navigate to <span class="mdi mdi-settings text-info"> Settings</span> -> <span class="text-success">My account</span> to update.
                </p>
                <hr>
            </div>

            <div class="row">
                 <div class="col-6">
                    <label>Select Supplier</label>
                    <table class="table table-condensed table-bordered table-bordered-success">
                        <tbody>
                            <tr>
                                <td>
                                    <v-select
                                        :options='suppliers' 
                                        v-model="supplier_id"
                                        label="company" 
                                        :reduce='company => company.id'>
                                    </v-select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                    <label>Select LPO status</label>
                    <table class="table table-condensed table-bordered table-bordered-success">
                        <tr>                        
                            <td >
                                <v-select
                                    :options='statuses' 
                                    v-model="status_id"
                                    label="name" 
                                    :reduce='name => name.id'>
                                </v-select>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
               
                <div class="col-12">
                    <h6>Products</h6>
                    <table class="table table-condensed table-bordered table-bordered-light">
                        <thead>
                            <th>Select Product(s)</th>
                            <th>Quantity</th>
                            <th>Price </th>
                            <th>Line Total</th>
                            <th>Actions</th>
                        </thead>
                        <tbody>
                            <tr v-for="lpoproducts in lpo_products" v-bind:key="lpoproducts.index">
                                <td width="35%">
                                    <v-select
                                        :options='products'
                                        v-model="lpoproducts.id"
                                        label='name'
                                        :reduce='name => name.id'>
                                    </v-select>
                                </td>
                                <td width="15%"><input type="number" min="1" class="form-control" v-model="lpoproducts.quantity" on:mo></td>
                                <td width="15%"><input type="number" min="1" class="form-control" v-model="lpoproducts.price" @keyup.enter="addProductRow" @keyup.delete="removeProductRow(lpoproducts.index)"></td>
                                <td width="20%">
                                    <input class="form-control"  :value="lpoproducts.price * lpoproducts.quantity" readonly>
                                </td>
                                <td>
                                    <span style="cursor:pointer; font-size:15px" class="text-success" @click.prevent="addProductRow"><i class="fa fa-plus-circle"></i>Add Row</span> &nbsp;
                                    <span style="cursor:pointer; font-size:15px" class="text-danger" @click="removeProductRow(lpoproducts.index)"><i class="fa fa-trash"></i> Delete Row</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12">
                <div v-if="this.hasSignature == 1">                    
                    <button class="btn width-sm btn-rounded btn-success"  @click.prevent="prepareData"><i class="fa fa-save"></i> Send for Approval</button>
                </div>
            </div>
        </form>
    </div>
</template>