<script>

import VuePhoneNumberInput from 'vue-phone-number-input';
import Loading from 'vue-loading-overlay';
import ToggleButton from 'vue-js-toggle-button'

import 'vue-loading-overlay/dist/vue-loading.css';

import 'vue-phone-number-input/dist/vue-phone-number-input.css';
Vue.component('vue-phone-number-input', VuePhoneNumberInput);
Vue.use(ToggleButton)

export default {
    data() {
        return {
            isLoading: false,
            rows: 1,
            contacts: [{
                index: null,
                first_name: null,
                last_name: null,
                phone: null,
                favourite: null
            }],
            error:false,
            errors: [],
            error_message:[],               
        }
    },
    components: {
		Loading,
		VuePhoneNumberInput,
    },
    methods: {
        addContactRow() {
            this.rows++
            this.contacts.push({
                index: this.rows,
                'first_name': null,
                'last_name': null,
                'phone': null,
                'favourite': null
            })

        },
        removeContactRow(id) {
            return this.contacts = this.contacts.filter((item, index) => {
                return item.index != id
            })
		},
		checkIfContactsAreUnique: function(arr){
            return (new Set(arr)).size !== arr.length;
        },
		prepareData(){
			this.error_message = []

            const phoneNumbers = this.contacts.map(contact => contact.phone);
			
			this.contacts.map((contact) => {
                if(contact.first_name == ""){
                    this.error = true;
                    this.error_message.push('Please provide contact first name');
                    return;
                }
                if(contact.last_name == ""){
                    this.error = true;
                    this.error_message.push('Please provide contact last name');
                    return;
                }
                if(contact.phone == ""){
                    this.error = true;
                    this.error_message.push('Please provide contact phone number');
                    return;
				}
				if(contact.phone.length !== 11){
                    this.error = true;
                    this.error_message.push('Contact phone number is invalid');
                    return;
				}
			})

			if(this.checkIfContactsAreUnique(phoneNumbers)){
                this.error = true;
                this.error_message.push('You have at least two contacts matching, check and correct to continue.');
                return;
            }

            if (!this.error_message.length ) {
				this.error = false
				this.createContact()
			}
		},
		createContact(){
			this.isLoading = true;

			let contacts = {}

			contacts['contacts'] = this.contacts

			axios.post('/bulk-sms-contacts', contacts).then(({data})=>data).then(({data})=>{
                if(data == 'success'){
					this.isLoading = false;
						
					toastr.options.showMethod = 'slideDown';
					toastr.options.hideMethod = 'slideUp';
					toastr.options.closeMethod = 'slideUp';
					toastr.options.closeButton = true;
					toastr.options.closeDuration = 3000;
					toastr.options.closeEasing = 'swing';
					toastr.options.progressBar = true;
					toastr.success('Contacts have been registerd successfully', 'Success')

                    window.location.reload();
                }
            });
		}
    }
}
</script>

<template>
	<div>
		<div class="modal-body"> 
           <div v-show="error" class="alert alert-danger">
                <ul>
                    <li v-for="(error,index) in error_message" v-bind:key="index"> {{error}}</li>
                </ul>
            </div>
            <loading :active.sync="isLoading"
                background-color="#000"
                color="#ff002b"
                transition="fade"
                :can-cancel="true"
                :is-full-page="true">
			</loading>

			<table class="table table-condensed table-bordered table-bordered-light">
				<thead>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Phone</th>
                    <th>Mobile</th>
					<th>Actions</th>
				</thead>
				<tbody>
					<tr v-for="contact in contacts" :key="contact.index">
						<td><input type="text" min="1" class="form-control" v-model="contact.first_name"></td>
						<td><input type="text" min="1" class="form-control" v-model="contact.last_name"></td>
						<td><VuePhoneNumberInput default-country-code="KE" v-model="contact.phone" /></td>
                        <td>
                            <toggle-button 
                                v-model="contact.favourite" 
                                :value="1"
                                :margin='5'
                                :height='30'
                                :width='60'
                                :labels="{checked: 'Yes', unchecked: 'No'}"/>    
                        </td>						
						<td>
							<span style="cursor:pointer;" class="text-success" @click.prevent="addContactRow"><i class="mdi mdi-account-plus" style="font-size:18px"></i> Add </span> &nbsp;
							<span style="cursor:pointer;" class="text-danger" @click="removeContactRow(contact.index)"><i class="mdi mdi-account-minus" style="font-size:18px"></i> Delete</span>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-dark waves-effect " data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-success waves-effect"  @click.prevent="prepareData">Create Contacts</button>
		</div>
	</div>
</template>

<style>

</style>