<template>
    <div>
        <form>

            <div class="modal-body">
                <div v-show="error" class="alert alert-danger">
                    <ul>
                        <li v-for="(error,index) in error_message" v-bind:key="index"> {{error}}</li>
                    </ul>
                </div>
                <loading :active.sync="isLoading"
                    background-color="#000"
                    color="#ff002b"
                    transition="fade"
                    :can-cancel="true"
                    :is-full-page="true">
                </loading>

                <div class="row form-group">
                    <div class="col-2">
                        <label>Schedule Name</label>
                    </div>
                    <div class="col-4">
                        <input type="text" v-model="name" class="form-control">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-2">
                        <label for="">Date</label>
                    </div>
                    <div class="col-4">
                        <VueCtkDateTimePicker 
                            label='Select Date' 
                            v-model="message_date"
                            :only-date="true" 
                            :no-label='true' 
                            format='DD-MM-YYYY'
                            formatted='DD-MM-YYYY'
                            color='#d91a1a'	 />
                    </div>

                    <div class="col-2">
                        <label for="">Time</label>
                    </div>
                    <div class="col-4">
                        <VueCtkDateTimePicker 
                            label='Select time' 
                            v-model="message_time"
                            :only-time="true" 
                            :no-label='true' 
                            format='hh:mm a'
                            formatted='hh:mm a'
                            color='#d91a1a'	 />
                    </div>
                </div>

                
                <div class="row form-group">
                    <div class="row col-12">                    
                        <div class="col-4">Message Characters:</div>
                        <div class="col-8">{{ message_chars }}</div>
                    </div>
                    <div class="row col-12">     
                        <div class="col-4">Messages Composed:</div>
                        <div class="col-8">{{ messages_composed }}</div>
                    </div>
                    <div class="row col-12">
                        <div class="col-4">Characters Left:</div>
                        <div class="col-8">{{ message_remaining_chars }} of message {{ messages_composed }}</div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-12">
                        <textarea v-model="message" rows="4" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-dark waves-effect " data-dismiss="modal">Close</button>
                <button class="btn btn-success waves-effect" @click.prevent="validateData">  Update Message Schedule</button>
            </div>

        </form>
    </div>
  
</template>

<script>

import moment from 'moment';
import 'vue-loading-overlay/dist/vue-loading.css';
import Loading from 'vue-loading-overlay';
import VueCtkDateTimePicker from 'vue-ctk-date-time-picker';
import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css';

Vue.component('VueCtkDateTimePicker', VueCtkDateTimePicker);

export default {
    props: ['schedule_id'],
     data(){
        return {
            isLoading: true,
            //
            message_chars: 0,
            message_limit: 145,
            message_remaining_chars: 0,
            messages_composed: 0,
            //fillables
            name: null,
            message: null,
            message_date: null,
            message_time: null,
            //data
            schedule: [],
            //
            error:false,
            error_message:[],
        }
    },

    components: {
        Loading, VueCtkDateTimePicker
    },
    
    watch: {
        message: function(val){
            this.message_chars = val.length

           
            if(this.message_chars === 0){
                this.messages_composed = 0
            }else{
                var messages = this.message_chars / this.message_limit
                if(messages < 1){
                    this.messages_composed = 1
                }else{
                    this.messages_composed = Math.ceil(this.message_chars / this.message_limit)
                }
            }
            
            this.message_remaining_chars = (this.messages_composed * this.message_limit) - (this.message_chars)

        }
    },


    methods: {
        getMessageScheduleData() {
            axios.get(`/custom-message-schedule-data/${this.schedule_id}`).then(({data}) => data).then(({data}) => {
                this.schedule = data.schedule

                this.name = this.schedule.name
                this.message_date = moment(this.schedule.message_date).format('DD-MM-YYYY')
                this.message_time = this.schedule.message_time
                this.message = this.schedule.message

                this.isLoading = false
            });
        },
        
        validateData(){
            if(!this.name){
                this.error = true
                this.error_message.push('You must provide message schedule name')
                return ;
            }

            if(!this.message_date){
                this.error = true
                this.error_message.push('You must provide message schedule date')
                return ;
            }
            
            if(!this.message_time){
                this.error = true
                this.error_message.push('You must provide message schedule time')
                return ;
            }
           
            if(!this.message){
                this.error = true;
                this.error_message.push('You must provide a message to be sent')
                return ;
            }

            if(!this.error_message.length){
                this.error = false
                this.updateMessageSchedule()
            }
        },

        updateMessageSchedule(){
            this.isLoading = true

            let messageSchedule = {}

            messageSchedule['name'] = this.name
            messageSchedule['message'] = this.message
            messageSchedule['message_date'] = this.message_date
            messageSchedule['message_time'] = this.message_time

            axios.put(`/custom-message-schedules/${this.schedule_id}`, messageSchedule).then(({data}) => data).then(({data}) => {
                if(data == 'success'){
                    this.isLoading = false
                    
                    toastr.options.showMethod = 'slideDown';
                    toastr.options.hideMethod = 'slideUp';
                    toastr.options.closeMethod = 'slideUp';
                    toastr.options.closeButton = true;
                    toastr.options.closeDuration = 10000;
                    toastr.options.closeEasing = 'swing';
                    toastr.options.progressBar = true;
                    toastr.success('You have successfully updated the message schedule', 'Success')
                    
                    window.location.reload()
                    
                }
             })
        }
    },

    created(){
        this.getMessageScheduleData()
    }
}
</script>

<style>

</style>