<template>
    <div>
        <form>
            <div v-show="error" class="alert alert-danger">
                <ul>
                    <li v-for="(error,index) in error_message" v-bind:key="index"> {{error}}</li>
                </ul>
            </div>
            <loading :active.sync="isLoading"
                background-color="#000"
                color="#ff002b"
                transition="fade"
                :can-cancel="true"
                :is-full-page="true">
            </loading>

            <div class="row form-group">
                <div class="col-12">
                    <p>
                        <i class="mdi mdi-check-circle text-success"></i>
                        For contacts, you can add phone numbers in the input box directly.
                    </p>
                </div>
            </div>
            
            <div class="row form-group">
                <div class="col-2">
                    <label>Select Contacts</label>
                </div>
                <div class="col-4">
                    <multiselect
                        v-model="contacts_id"
                        :options="contacts"
                        :multiple="true"
                        :taggable="true"
                        :close-on-select="true"
                        placeholder="Pick some contacts"
                        label="name"
                        :limit="3"
                        trackBy='id'>                                        
                    </multiselect>
                </div>

                 <div class="col-2">
                    <label>Select Groups</label>
                </div>
                <div class="col-4">
                    <multiselect
                        v-model="groups_id"
                        :options="groups"
                        :multiple="true"
                        :close-on-select="true"
                        placeholder="Pick some groups"
                        label="name"
                        :limit="3"
                        trackBy='id'>                                        
                    </multiselect>
                </div>
            </div>
            
            <div class="row form-group">
                <div class="col-2">
                    <label>Phone Numbers</label>
                </div>
                <div class="col-10">
                    <input type="text" class="form-control" v-model="phone_numbers" placeholder="Comma separated" >
                </div>
            </div>
            
            <div class="row form-group">
                <div class="row col-12">                    
                    <div class="col-2">Message Characters:</div>
                    <div class="col-2">{{ message_chars }}</div>
                </div>
                <div class="row col-12">     
                    <div class="col-2">Messages Composed:</div>
                    <div class="col-2">{{ messages_composed }}</div>
                </div>
                <div class="row col-12">
                    <div class="col-2">Characters Left:</div>
                    <div class="col-2">{{ message_remaining_chars }} of message {{ messages_composed }}</div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-12">
                    <textarea v-model="message" rows="4" class="form-control"></textarea>
                </div>
            </div>

            
            <div class="row form-group">
                <div class="offset-3">
                    <button class="btn btn-success width-sm btn-rounded" @click.prevent="validateData"><i class="mdi mdi-send"></i> Send Message to Selected Contacts & Groups</button>
                </div>
            </div>

        </form>
    </div>
</template>

<script>
import moment from 'moment';
import 'vue-loading-overlay/dist/vue-loading.css';
import Loading from 'vue-loading-overlay';
import Multiselect from 'vue-multiselect'


export default {
    data(){
        return {
            isLoading: true,
            //
            message_chars: 0,
            message_limit: 160,
            message_remaining_chars: 0,
            messages_composed: 0,
            //
            message: null,
            phone_numbers: null,
            contacts: [],
            contacts_id: [],
            groups: [],
            groups_id: [],
            //
            error:false,
            error_message:[],
        }
    },
    components: {
        Loading, Multiselect
    },
    
    watch: {
        message: function(val){
            this.message_chars = val.length

            if(this.message_chars === 0){
                this.messages_composed = 0
            }else{
                var messages = this.message_chars / this.message_limit
                if(messages < 1){
                    this.messages_composed = 1
                }else{
                    this.messages_composed = Math.ceil(this.message_chars / this.message_limit)
                }
            }
            
            this.message_remaining_chars = (this.messages_composed * this.message_limit) - (this.message_chars)

        }
    },


    methods: {
        getContactsGroups() {
            axios.get('/get-contacts-groups').then(({data}) => data).then(({data}) => {      
                this.contacts = data.contacts
                this.groups = data.groups
                this.isLoading = false
            });
        },

        validateData(){
            if(!this.contacts_id.length && !this.groups_id.length && this.phone_numbers == null){
                this.error = true;
                this.error_message.push('You must provide contact(s) or group(s)')
                return ;
            }
           
            if(this.message == null){
                this.error = true;
                this.error_message.push('You must provide a message to be sent')
                return ;
            }

            if(!this.error_message.length){
                this.error = false
                this.sendBulkMessages()
            }
        },

        sendBulkMessages(){
            this.isLoading = true

            let messageData = {}
            messageData['message'] = this.message
            messageData['contacts'] = this.contacts_id
            messageData['groups'] = this.groups_id
            messageData['phone_numbers'] = this.phone_numbers

            axios.post('/send-messages', messageData).then(({data}) => data).then(({data}) => {
                if(data == 'success'){
                    this.isLoading = false
                    
                    toastr.options.showMethod = 'slideDown';
                    toastr.options.hideMethod = 'slideUp';
                    toastr.options.closeMethod = 'slideUp';
                    toastr.options.closeButton = true;
                    toastr.options.closeDuration = 10000;
                    toastr.options.closeEasing = 'swing';
                    toastr.options.progressBar = true;
                    toastr.success('Operation have completed successfully', 'Success')
                
                    window.location.reload()
                }else if(data == 'error'){
                    this.isLoading = false
                    
                    toastr.options.showMethod = 'slideDown';
                    toastr.options.hideMethod = 'slideUp';
                    toastr.options.closeMethod = 'slideUp';
                    toastr.options.closeButton = true;
                    toastr.options.closeDuration = 10000;
                    toastr.options.closeEasing = 'swing';
                    toastr.options.progressBar = true;

                    toastr.warning('Your have errors in your form, double check phone numbers provided', 'Warning')
                }
            })
        }

    },
    created(){
        this.getContactsGroups()
    }
}
</script>

<style scoped>

</style>