<script>
import moment from 'moment';
import draggable from 'vuedraggable'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

Vue.filter('formatDate', function(value) {
  if (value) {
    return moment(String(value)).format('DD-MM-Y')
  }
});

export default {
    data(){
        return {
            isLoading: true,
            csrf: document.head.querySelector('meta[name="csrf-token"]').content,
            approvers: []
        }
    },
    components: {
        Loading,
        draggable
    },
    methods: {
        getApprovers(){
            axios.get('/get-srn-approvers').then(({data}) => data).then(({data}) => {
                this.approvers = data.approvers
                this.isLoading = false
            });
        },
        update(){
            this.isLoading = true;

            this.approvers.map((approver, index) => {
                approver.sequence = index + 1
            })

            let newApprovers = {}
            newApprovers['approvers'] = this.approvers

            axios.put('/update-srn-approvers-sequence', newApprovers).then(({data}) => data).then(({data}) =>   {   

                if(data == 'success'){
                    this.isLoading = false;
                    
                    toastr.options.showMethod = 'slideDown';
                    toastr.options.hideMethod = 'slideUp';
                    toastr.options.closeMethod = 'slideUp';
                    toastr.options.closeButton = true;
                    toastr.options.closeDuration = 10000;
                    toastr.options.closeEasing = 'swing';
                    toastr.options.progressBar = true;
                    toastr.success('You have successfully re-ordered store requisition note approvers sequence', 'Success')
                }
            })
        }
    },
    created(){
        this.getApprovers()
    }
}
</script>

<template>
    <div>
        <loading :active.sync="isLoading"
            background-color="#000"
            color="#ff002b"
            transition="fade"
            :can-cancel="false"
            :is-full-page="true">
        </loading>
        <p><i class="mdi mdi-information text-info"></i> The first approver will be the user's supervisor, the approvers below will approve after user's supervisor acknowledgement.</p>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <th>#</th>
                <th>Name</th>
                <th>Sequence</th>
                <th>Job Title</th>
                <th>Date Created</th>
                <th>Actions</th>
            </thead>
            <draggable :list='approvers' :options="{animation:500, handle:'.sort_approvers'}" :element="'tbody'" @change="update">
                <tr v-for="(approver, index) in approvers" :key="index">
                    <td class="sort_approvers"><i class="mdi mdi-sort"></i> Sort</td>
                    <td>
                        {{ approver.user.first_name }} 
                        {{ approver.user.last_name }}
                    </td>
                    <td>{{ approver.sequence }}</td>
                    <td>{{ approver.user.job_title }}</td>
                    <td>{{ approver.created_at | formatDate }}</td>
                    <td>
                        <form :action="'srn-approvers/' + approver.id" method="POST">
                            <input type="hidden" name="_token" :value="csrf">
                            <input type="hidden" name="_method" value="delete">

                            <a :href="'srn-approvers/' + approver.id" class="btn btn-info btn-xs"><i class="fa fa-edit"></i> Edit</a>
                            <button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</button>
                        </form>
                    </td>
                </tr>
            </draggable>
        </table>

    </div>
</template>

<style  scoped>
    .sort_approvers {
        cursor: move;
    }
</style>